.gradle/
.idea/
build/
local.properties
*.iml
*.class
src/main/libs/
src/main/obj/
src/main/assets/armeabi/
src/main/assets/armeabi-v7a/
src/main/assets/arm64-v8a/
src/main/assets/x86/
src/main/assets/x86_64/
src/main/assets/mips/
src/main/assets/mips64/
src/main/assets/all/