language: android

android:
  components:
    - platform-tools
    - tools

    - build-tools-24.0.3
    - android-24
    
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    
  licenses:
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

jdk:
    - oraclejdk8

before_script:
    - export NDK_VERSION=android-ndk-r11c
    - curl -L https://dl.google.com/android/repository/${NDK_VERSION}-linux-x86_64.zip -O
    - unzip -q ${NDK_VERSION}-linux-x86_64.zip
    - export ANDROID_NDK_HOME=`pwd`/${NDK_VERSION}
    - export PATH=${ANDROID_NDK_HOME}:${PATH}

script: ./assemble_debug
